ul {
  list-style-position: inside;
}

.logo-hdr {
  line-height: 1;
  display: inline-block;
  background-color: #FF79C6;
  background-image: linear-gradient(to right, #FF5555, #FF79C6, #F8F859);
  color: transparent;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.visited {
  color: var(--visited);
}

.sitemap {
  width: 250px;
}

.post {
  max-width: 700px;
}

.container-xs {
  max-width: 20em;
  width: 100%;
}

.post-container {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.hero {
  padding: 5rem 0 0 0;
}

.home-features pre {
  margin: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 1rem;
}

.features h3 {
  border: none;
}

.mk-nav {
  padding: 1rem;
}

.current {
  background-color: var(--blockquote-bg) !important;
  border-right: 5px solid var(--blockquote);
}

.current a {
  color: var(--white);
}

.current-page a {
  color: var(--white);
}

.pager {
  min-width: 150px;
}

.sitemap-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sidebar-list {
  padding: 0 0 0 1rem;
}

.sidebar-list li {
  margin: 0 0 0.5rem 0;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0 0.75rem;
  }

  header {
    margin: 0;
  }

  .post-container {
    display: block;
  }

  .sitemap {
    text-align: center;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
  }

  .sitemap-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .mk-nav {
    padding: 1rem 0;
  }

  .sidebar-list {
    padding: 0 0 0 0.6rem;
    margin: 0;
  }
}
