{{define "nav"}}
<nav class="mk-nav">
  <div class="flex items-center justify-center gap-2">
    <a href="/" class="link-alt">
      starfx
    </a>
    <a href="/sitemap" class="link-alt">
      sitemap
    </a>
    <a href="https://github.com/neurosnap/starfx" class="link-alt">
      github
    </a>
    <a href="https://discord.gg/frontside" class="link-alt">
      discord
    </a>
  </div>
</nav>
{{end}}
